@use "../utilities/variables" as *;
@use "../utilities/extend" as *;

.burger {
  color: $color-dorado;
  border: 1px solid $color-dorado;
  font-size: 2rem;
  transition: background-color $transicion-rapida, transform 0.2s ease-in-out;

  &:hover {
    background-color: $color-dorado;
    color: $color-hover-oscuro;
  }

  &:focus {
   @extend %foco-dorado;
  }

  &:active {
    transform: scale(0.92);
  }
  
  &[aria-expanded="true"] {
    transform: rotate(90deg);
    background-color: $color-dorado;
    color: $color-hover-oscuro;
  }
}